a{
    color: var(--text-color);
    transition: 0.5s;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.header{
    text-align: center; 
    background-color:var(--color-2);
    border: 2px solid var(--text-color);
    border-radius: 15%;
    padding: 1%;
    margin: 30px;
    transition: 0.5s;
}

.menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.section{
    border: 3px solid var(--text-color);
    color: var(--color-3);
    text-align: center;
    margin-bottom: 30px;
    transition: 0.5s;
}

.content {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.passion {
    background-color: var(--color-1);
    border: 2px solid var(--text-color);
    border-radius: 15%;
    padding: 25px;
    margin: 20px;
	float: left;
    width: 300px;
    height: 300px;
    text-align: center;
    transition: 0.5s;
}

.travail {
    background-color: var(--color-2);
    border: 2px solid var(--text-color);
    border-radius: 15%;
    padding: 25px;
    margin: 20px;
	float: left;
    width: 300px;
    height: 300px;
    text-align: center;
    transition: 0.5s;
}



