.content {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin: 0 auto 30px;
    flex-wrap: wrap;
}



.box {
    border: 2px solid var(--text-color);
    border-radius: 15%;
    padding: 25px;
    margin: 20px;
	float: left;
    width: 300px;
    height: 300px;
    text-align: center;
    transition: transform 0.5s ease;
}
.box:hover {
    transform: scale(1.2);
    z-index: 2;
}



.section{
    border: 3px solid var(--text-color);
    color: var(--color-3);
    text-align: center;
    margin-bottom: 30px;
    transition: 0.5s;
}



#mon_sujet {
    position: relative;
    width: 100%;
    aspect-ratio: 4/1;
  
    background-image: var(--img-1);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
    opacity: 1;
}
#mon_sujet img{
    position: absolute;
    transform: translate(-50%, -50%);

    top: 50%;
    left: 49%;
    height: 100%;
    width: auto;
    object-fit: contain;
}
#mon_sujet p{
    position: absolute;
    transform: translate(-50%, -50%);
}



#etudes{
    position: relative;
    width: 100%;
    max-width: 1100px;
    aspect-ratio: 2/1;
  
    background-image: var(--img-2);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
    opacity: 1;
}
#etudes p{
    position: absolute;
    transform: translate(-50%, -50%);

    height: max-content;
    width: 100px;
    background-color: var(--color-1);
    border: 1px solid var(--color-3);
    border-radius: 18px;
    padding: 8px 12px;
    margin: 5px;
    text-align: center;
    transition: all 1s ease-out;
}
#etudes p:hover {
    z-index: 1;
}



#Lyre, #Musique, #Vidéo {
    background-color: var(--color-1);
}
#Site, #Echec {
    background-color: var(--color-2);
}



#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 999;
}
#overlay.visible {
    opacity: 1;
    pointer-events: auto;
}
.zoomable {
    cursor: pointer;
    transition: all 0.3s ease;
}



.detail {
    opacity: 0;
    z-index: -1;

    position: fixed;
    top: 50%;
    left: 50%;
    width: 1500px;
    transform: translate(-50%, -50%);


    text-align: center;
}
.detail.visible {
    opacity: 1;
    z-index: 999;
}





