header{text-align: center; 
    background-color:rgba(89, 195, 234, 0.5);
    border-radius: 30%;
    padding: 1%;}

a{color: black;}

.passions{display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;}

/*.photo{background-image: url(images/IMG_2197.JPG);
    background-position: 50%;
    border-radius: 25%;
    text-align: center;}
*/


